@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/**/*.min.css" />
    <link rel="stylesheet" asp-href-include="/lib/font-awesome/css/*.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>@ViewData["Title"] - MusicBookMovie Store</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="col-9">
            <a class="navbar-brand" href="#">MusicBookMovie Store</a>
        </div>
        <div class="col-3 text-right">
            @await Component.InvokeAsync("CartSummary")
        </div>
    </nav>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
             @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>